<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We'll build you a beautiful website.</h2>
                <hr class="light">
                <p class="text-faded">Your small business resource to help you with your shopify implementation. Yeah, you could probably figure it out, but sometimes it's nicer to get that extra bit of help since you probably have so much on your plate.</p>
                <a href="#contact" class="btn btn-default btn-xl">Let us help you!</a>
            </div>
        </div>
    </div>
</section>
