<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Welcome to</h2>
            <h1>Campbell eCommerce Consulting</h1>
            <hr>
            <p>Your local ecommerce experts. With experience in both implementing and running ecommerce businesses on multiple platforms such as Shopify, BigCommerce, and more, our experts aim to provide you with more than just a functioning ecommerce site. We also offer operational expertiese to maximize your ecommerce strategy.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
        </div>
</div>
</header>
