<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Website Builds</h2>
            <p>Websites full of content for your businesses.</p>
        </div>

        <div class="row flex">
            <div class="col-lg-4 col-sm-6">
                <a href="https://orderbot/com" class="portfolio-box">
                    <img src="img/orderbot.png" class="img-responsive" alt="" height="80%">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Webflow Website
                            </div>
                            <div class="project-name">
                                Orderbot Software Inc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <div class="col-lg-4 col-sm-6">
            <a href="https://farmwithfriends.co/" class="portfolio-box">
                <img src="img/farm.png" class="img-responsive" alt="" height="80%">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Custom Built Site
                        </div>
                        <div class="project-name">
                            Farm with Friends
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Shopify Implementations</h2>
            <p>A few of our happy small business Shopify clients.</p>
        </div>

        <div class="row flex">
            <div class="col-lg-4 col-sm-6">
                <a href="https://pacerdynamics.com/" class="portfolio-box">
                    <img src="img/pacer.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shopify Implementation
                            </div>
                            <div class="project-name">
                                Pacer Dynamics
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://www.rxsuperspa.com/" class="portfolio-box">
                    <img src="img/rx.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shopify Implementation
                            </div>
                            <div class="project-name">
                                RX Super Spa
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://bbombshell-salon.myshopify.com/" class="portfolio-box">
                    <img src="img/bbombshell.png" class="img-responsive" alt="" height="80%">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shopify Implementation
                            </div>
                            <div class="project-name">
                                Bbombshell Salon Online Store
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>
        
</section>