<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>eCommerce Implementation</h3>
                    <p class="text-muted">We can use the base themes, but add enough code and meta data to make a custom shopify experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Marketing & Sales Strategy</h3>
                    <p class="text-muted">Let us help you boost your SEO and digital presense with keyword planning and digital marketing ventures.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Business Processes</h3>
                    <p class="text-muted">We'll help you streamline your operational processes and help write new SOPs to include your new eCommerce strategy</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">We have 8+ years of experience managing our own ecommerce brands, so we've been in your shoes. You'll get a fresh perspective with some technical acumen.</p>
                </div>
            </div>
        </div>
    </div>
</section>
